.chat-body {
    position: absolute;
    bottom: auto;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 75vh;
    z-index: 7;
}


.message {
    max-width: 75%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}


.user-message {
    background: rgba(0, 0, 0, 0.6);;
    border: 3px solid #8167a9;
    color: white;
    align-self: flex-end;
}

.bot-message {
    background: #e0e0e0;
    color: black;
    align-self: flex-start;
}
.center{
   align-items: center;
   text-align: center;
}

  .chat-footer {
  display: flex;
  padding: 10px;
  background: white;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 20px;
  left: 0;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
}

.input_1 {
  border: none;
  outline: none;
  flex: 1;
  min-height: 30px;
  max-height: 300px;
  line-height: 20px;
  border-radius: 8px;
  resize: none;
  overflow-y: hidden; /* Fix: scroll ko‘rinmasin */
  font-size: 16px;
  font-family: inherit;
  box-sizing: border-box;
  height: auto;
}

.input_1::placeholder {

line-height: 40px; /* yoki

textarea balandligiga teng */

}

.jonatush_t {
  background: #fff;
  border: 2px solid #8167a9;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jonatush_t svg {
  height: 30px;
  width: 30px;
}

